*{
    box-sizing: border-box;
}

body, html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
}

i {
    font-style: italic;
}

b{
    font-weight: bold;
}

content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:50px;
}

ol{
    list-style-type: upper-roman;
    list-style-position: inside;
  }
  ul{
      list-style-type: circle;
      list-style-position: inside;
  }

  h2{
      font-style: italic;
      font-weight:bold;
      text-decoration: underline;
  }
  
.graphic{
    display:grid;
    grid-template-columns:auto auto;
    justify-content: center;
    align-items: center;
    grid-gap:10px;
    margin-top:20px;
}

.caption{
    font-size:.75rem;
}

.facts {
    font-size: 1.25rem;
    background-color:rgba(46, 49, 49, .25);
    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;
    border-radius:10px;
}